{% extends "layout.html" %}
{% block content %}
    <br>
    <h1>Articles</h1>
    <br>
    <head>
          <div class ="container">
          <title>  Articles </title>
          </div>
    </head>
 <body>

 <div class ="post">
 <br>
 <h2> Article 1 </h2>
 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin sapien odio, at laoreet lorem blandit at.</p>
 <a href = "article-1"> Read more</a>
 </div>

 <div class ="post">
 <br>
 <h2> Article 2 </h2>
 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin sapien odio, at laoreet lorem blandit at.</p>
 <a href = "article-2"> Read more</a>
 </div>

 <div class ="post">
 <br>
 <h2> Article 3 </h2>
 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin sapien odio, at laoreet lorem blandit at.</p>
 <a href = "article-3"> Read more</a>
 </div>


 </body>


{% endblock content %}