{% extends "layout.html" %}
{% block content %}

<html>
    <head>
          <title> Article 1 </title>
          <link rel="stylesheet" href ="main.css">
    </head>
 <body>

<br>
    <h1> Article 1 </h1>
    <p>Sed sagittis ultrices elit. Vestibulum odio neque, viverra eu tempor non, ullamcorper sed sem. Mauris luctus odio
    lectus, vel finibus neque ornare at. Vivamus pretium est lorem, a convallis ipsum commodo sit amet. Sed et mauris nunc.
    Aliquam erat volutpat. Fusce massa nibh, dignissim sed molestie sit amet, rhoncus a nisi. Sed ac venenatis mi.
    Sed tincidunt porttitor quam, posuere congue quam dictum et. </p>
    <a href = "home_page"> Home</a>

 </body>
</html>

{% endblock content %}